# Overview
This script aims to pridict list of mitre attack technique given a techinque to detect. This will help to give the use a means to know which techniques run following a script that was choses. Eg. User picks T1027 and runs the sript. if the technique is detected in the log, then he is recommended with a list of other techniques to run a search on. 

The algoritm follows a statistical approach where it finds the most number of times the technique were used togather. The dataset used for this statistical analysis is done by using APT actors from MITRE Attack repository. Once we get the common pairs, we form a weighted graph and then using nearest neighbour finder to find the list of techniques that is related to each other.

In [1]:
import pandas as pd
import numpy as np
import random
from tqdm import tqdm
from pprint import pprint
from collections import Counter
from pyattck import Attck
import networkx as nx

In [2]:
# Init pyatt lib
attck = Attck()

co-occurrance matrix - https://en.wikipedia.org/wiki/Co-occurrence_matrix#:~:text=A%20co%2Doccurrence%20matrix%20or,colors)%20at%20a%20given%20offset.

In [3]:
# Gather and store edge pairs using co-occurrance matrix
sourcelist = []
targetlist = []
target_tacticlist = []

for actor in attck.enterprise.actors:
    edge_i = [x.id for x in actor.techniques]
    edge_j = [x.id for x in actor.techniques]
    
    for technique_i in edge_i:
        for technique_j in edge_j:
            if technique_j != technique_i:
                sourcelist.append(technique_i)
                targetlist.append(technique_j)

In [4]:
# User counter to count number of time edges appear to create weights
counter = Counter(tuple(sorted(tup)) for tup in zip(sourcelist,targetlist))
counter

Counter({('T1027', 'T1566.001'): 76,
         ('T1053.005', 'T1566.001'): 50,
         ('T1204.002', 'T1566.001'): 110,
         ('T1566.001', 'T1571'): 14,
         ('T1036.004', 'T1566.001'): 18,
         ('T1059.005', 'T1566.001'): 60,
         ('T1105', 'T1566.001'): 76,
         ('T1027', 'T1053.005'): 56,
         ('T1027', 'T1204.002'): 78,
         ('T1027', 'T1571'): 18,
         ('T1027', 'T1036.004'): 22,
         ('T1027', 'T1059.005'): 54,
         ('T1027', 'T1105'): 86,
         ('T1053.005', 'T1204.002'): 48,
         ('T1053.005', 'T1571'): 12,
         ('T1036.004', 'T1053.005'): 18,
         ('T1053.005', 'T1059.005'): 36,
         ('T1053.005', 'T1105'): 54,
         ('T1204.002', 'T1571'): 14,
         ('T1036.004', 'T1204.002'): 20,
         ('T1059.005', 'T1204.002'): 60,
         ('T1105', 'T1204.002'): 76,
         ('T1036.004', 'T1571'): 8,
         ('T1059.005', 'T1571'): 16,
         ('T1105', 'T1571'): 18,
         ('T1036.004', 'T1059.005'): 12,
         ('T1036.004', 'T1105'): 18,
         ('T1059.005', 'T1105'): 58,
         ('T1003.001', 'T1021.001'): 28,
         ('T1003.001', 'T1005'): 28,
         ('T1003.001', 'T1560.001'): 28,
         ('T1003.001', 'T1059.003'): 40,
         ('T1003.001', 'T1057'): 18,
         ('T1003.001', 'T1114.001'): 4,
         ('T1003.001', 'T1036.005'): 26,
         ('T1003.001', 'T1049'): 22,
         ('T1003.001', 'T1087.001'): 14,
         ('T1003.001', 'T1119'): 12,
         ('T1003.001', 'T1550.002'): 10,
         ('T1003.001', 'T1135'): 10,
         ('T1003.001', 'T1007'): 10,
         ('T1003.001', 'T1016'): 26,
         ('T1003.001', 'T1114.002'): 10,
         ('T1003.001', 'T1583.001'): 12,
         ('T1003.001', 'T1584.001'): 2,
         ('T1003.001', 'T1566.002'): 26,
         ('T1003.001', 'T1566.001'): 34,
         ('T1003.001', 'T1585.002'): 6,
         ('T1003.001', 'T1588.001'): 2,
         ('T1005', 'T1021.001'): 18,
         ('T1021.001', 'T1560.001'): 16,
         ('T1021.001', 'T1059.003'): 36,
         ('T1021.001', 'T1057'): 10,
         ('T1021.001', 'T1114.001'): 4,
         ('T1021.001', 'T1036.005'): 22,
         ('T1021.001', 'T1049'): 12,
         ('T1021.001', 'T1087.001'): 10,
         ('T1021.001', 'T1119'): 12,
         ('T1021.001', 'T1550.002'): 4,
         ('T1021.001', 'T1135'): 12,
         ('T1007', 'T1021.001'): 6,
         ('T1016', 'T1021.001'): 18,
         ('T1021.001', 'T1114.002'): 6,
         ('T1021.001', 'T1583.001'): 6,
         ('T1021.001', 'T1584.001'): 2,
         ('T1021.001', 'T1566.002'): 20,
         ('T1021.001', 'T1566.001'): 28,
         ('T1021.001', 'T1585.002'): 2,
         ('T1021.001', 'T1588.001'): 2,
         ('T1005', 'T1560.001'): 24,
         ('T1005', 'T1059.003'): 44,
         ('T1005', 'T1057'): 28,
         ('T1005', 'T1114.001'): 2,
         ('T1005', 'T1036.005'): 20,
         ('T1005', 'T1049'): 18,
         ('T1005', 'T1087.001'): 12,
         ('T1005', 'T1119'): 18,
         ('T1005', 'T1550.002'): 8,
         ('T1005', 'T1135'): 8,
         ('T1005', 'T1007'): 10,
         ('T1005', 'T1016'): 26,
         ('T1005', 'T1114.002'): 12,
         ('T1005', 'T1583.001'): 16,
         ('T1005', 'T1584.001'): 6,
         ('T1005', 'T1566.002'): 18,
         ('T1005', 'T1566.001'): 32,
         ('T1005', 'T1585.002'): 4,
         ('T1005', 'T1588.001'): 4,
         ('T1059.003', 'T1560.001'): 36,
         ('T1057', 'T1560.001'): 22,
         ('T1114.001', 'T1560.001'): 6,
         ('T1036.005', 'T1560.001'): 24,
         ('T1049', 'T1560.001'): 22,
         ('T1087.001', 'T1560.001'): 12,
         ('T1119', 'T1560.001'): 10,
         ('T1550.002', 'T1560.001'): 6,
         ('T1135', 'T1560.001'): 12,
         ('T1007', 'T1560.001'): 12,
         ('T1016', 'T1560.001'): 24,
         ('T1114.002', 'T1560.001'): 12,
         ('T1560.001', 'T1583.001'): 10,
         ('T1560.001', 'T1584.001'): 6,
         ('T1560.001', 'T1566.002'): 18,
         ('T1560.001', 'T1566.001'): 22,
         ('T1560.001', 'T1585.002'): 4,
         ('T1560.001', 'T1588.001'): 4,
         ('T1057', 'T1059.003'): 42,
         ('T1059.003', 'T1114.001'): 6,
         ('T1036.005', 'T1059.003'): 42,
         ('T1049', 'T1059.003'): 34,
         ('T1059.003', 'T1087.001'): 20,
         ('T1059.003', 'T1119'): 26,
         ('T1059.003', 'T1550.002'): 10,
         ('T1059.003', 'T1135'): 18,
         ('T1007', 'T1059.003'): 16,
         ('T1016', 'T1059.003'): 48,
         ('T1059.003', 'T1114.002'): 14,
         ('T1059.003', 'T1583.001'): 18,
         ('T1059.003', 'T1584.001'): 6,
         ('T1059.003', 'T1566.002'): 36,
         ('T1059.003', 'T1566.001'): 64,
         ('T1059.003', 'T1585.002'): 4,
         ('T1059.003', 'T1588.001'): 4,
         ('T1057', 'T1114.001'): 6,
         ('T1036.005', 'T1057'): 24,
         ('T1049', 'T1057'): 24,
         ('T1057', 'T1087.001'): 14,
         ('T1057', 'T1119'): 18,
         ('T1057', 'T1550.002'): 6,
         ('T1057', 'T1135'): 8,
         ('T1007', 'T1057'): 14,
         ('T1016', 'T1057'): 34,
         ('T1057', 'T1114.002'): 12,
         ('T1057', 'T1583.001'): 12,
         ('T1057', 'T1584.001'): 6,
         ('T1057', 'T1566.002'): 22,
         ('T1057', 'T1566.001'): 32,
         ('T1057', 'T1585.002'): 4,
         ('T1057', 'T1588.001'): 4,
         ('T1036.005', 'T1114.001'): 4,
         ('T1049', 'T1114.001'): 4,
         ('T1087.001', 'T1114.001'): 4,
         ('T1114.001', 'T1119'): 4,
         ('T1114.001', 'T1550.002'): 4,
         ('T1114.001', 'T1135'): 4,
         ('T1007', 'T1114.001'): 4,
         ('T1016', 'T1114.001'): 6,
         ('T1114.001', 'T1114.002'): 4,
         ('T1114.001', 'T1583.001'): 2,
         ('T1114.001', 'T1584.001'): 2,
         ('T1114.001', 'T1566.002'): 4,
         ('T1114.001', 'T1566.001'): 2,
         ('T1114.001', 'T1585.002'): 4,
         ('T1114.001', 'T1588.001'): 2,
         ('T1036.005', 'T1049'): 22,
         ('T1036.005', 'T1087.001'): 12,
         ('T1036.005', 'T1119'): 14,
         ('T1036.005', 'T1550.002'): 6,
         ('T1036.005', 'T1135'): 14,
         ('T1007', 'T1036.005'): 10,
         ('T1016', 'T1036.005'): 26,
         ('T1036.005', 'T1114.002'): 8,
         ('T1036.005', 'T1583.001'): 16,
         ('T1036.005', 'T1584.001'): 6,
         ('T1036.005', 'T1566.002'): 20,
         ('T1036.005', 'T1566.001'): 36,
         ('T1036.005', 'T1585.002'): 4,
         ('T1036.005', 'T1588.001'): 2,
         ('T1049', 'T1087.001'): 20,
         ('T1049', 'T1119'): 16,
         ('T1049', 'T1550.002'): 8,
         ('T1049', 'T1135'): 12,
         ('T1007', 'T1049'): 16,
         ('T1016', 'T1049'): 34,
         ('T1049', 'T1114.002'): 6,
         ('T1049', 'T1583.001'): 10,
         ('T1049', 'T1584.001'): 2,
         ('T1049', 'T1566.002'): 14,
         ('T1049', 'T1566.001'): 20,
         ('T1049', 'T1585.002'): 4,
         ('T1049', 'T1588.001'): 4,
         ('T1087.001', 'T1119'): 8,
         ('T1087.001', 'T1550.002'): 6,
         ('T1087.001', 'T1135'): 6,
         ('T1007', 'T1087.001'): 14,
         ('T1016', 'T1087.001'): 18,
         ('T1087.001', 'T1114.002'): 6,
         ('T1087.001', 'T1583.001'): 4,
         ('T1087.001', 'T1584.001'): 2,
         ('T1087.001', 'T1566.002'): 8,
         ('T1087.001', 'T1566.001'): 8,
         ('T1087.001', 'T1585.002'): 2,
         ('T1087.001', 'T1588.001'): 4,
         ('T1119', 'T1550.002'): 6,
         ('T1119', 'T1135'): 8,
         ('T1007', 'T1119'): 8,
         ('T1016', 'T1119'): 20,
         ('T1114.002', 'T1119'): 6,
         ('T1119', 'T1583.001'): 8,
         ('T1119', 'T1584.001'): 2,
         ('T1119', 'T1566.002'): 12,
         ('T1119', 'T1566.001'): 22,
         ('T1119', 'T1585.002'): 2,
         ('T1119', 'T1588.001'): 2,
         ('T1135', 'T1550.002'): 6,
         ('T1007', 'T1550.002'): 4,
         ('T1016', 'T1550.002'): 8,
         ('T1114.002', 'T1550.002'): 6,
         ('T1550.002', 'T1583.001'): 8,
         ('T1550.002', 'T1584.001'): 2,
         ('T1550.002', 'T1566.002'): 10,
         ('T1550.002', 'T1566.001'): 8,
         ('T1550.002', 'T1585.002'): 2,
         ('T1550.002', 'T1588.001'): 2,
         ('T1007', 'T1135'): 6,
         ('T1016', 'T1135'): 16,
         ('T1114.002', 'T1135'): 6,
         ('T1135', 'T1583.001'): 4,
         ('T1135', 'T1584.001'): 2,
         ('T1135', 'T1566.002'): 10,
         ('T1135', 'T1566.001'): 14,
         ('T1135', 'T1585.002'): 2,
         ('T1135', 'T1588.001'): 2,
         ('T1007', 'T1016'): 14,
         ('T1007', 'T1114.002'): 6,
         ('T1007', 'T1583.001'): 2,
         ('T1007', 'T1584.001'): 2,
         ('T1007', 'T1566.002'): 6,
         ('T1007', 'T1566.001'): 8,
         ('T1007', 'T1585.002'): 2,
         ('T1007', 'T1588.001'): 4,
         ('T1016', 'T1114.002'): 8,
         ('T1016', 'T1583.001'): 14,
         ('T1016', 'T1584.001'): 2,
         ('T1016', 'T1566.002'): 24,
         ('T1016', 'T1566.001'): 38,
         ('T1016', 'T1585.002'): 6,
         ('T1016', 'T1588.001'): 4,
         ('T1114.002', 'T1583.001'): 8,
         ('T1114.002', 'T1584.001'): 6,
         ('T1114.002', 'T1566.002'): 10,
         ('T1114.002', 'T1566.001'): 10,
         ('T1114.002', 'T1585.002'): 2,
         ('T1114.002', 'T1588.001'): 2,
         ('T1583.001', 'T1584.001'): 6,
         ('T1566.002', 'T1583.001'): 16,
         ('T1566.001', 'T1583.001'): 18,
         ('T1583.001', 'T1585.002'): 6,
         ('T1583.001', 'T1588.001'): 2,
         ('T1566.002', 'T1584.001'): 4,
         ('T1566.001', 'T1584.001'): 4,
         ('T1584.001', 'T1585.002'): 2,
         ('T1584.001', 'T1588.001'): 2,
         ('T1566.001', 'T1566.002'): 52,
         ('T1566.002', 'T1585.002'): 6,
         ('T1566.002', 'T1588.001'): 4,
         ('T1566.001', 'T1585.002'): 4,
         ('T1566.001', 'T1588.001'): 2,
         ('T1585.002', 'T1588.001'): 2,
         ('T1203', 'T1204.002'): 50,
         ('T1102.002', 'T1204.002'): 16,
         ('T1204.002', 'T1568.003'): 2,
         ('T1203', 'T1566.001'): 52,
         ('T1102.002', 'T1203'): 12,
         ('T1203', 'T1568.003'): 2,
         ('T1102.002', 'T1566.001'): 16,
         ('T1566.001', 'T1568.003'): 2,
         ('T1102.002', 'T1568.003'): 2,
         ('T1583.006', 'T1585'): 2,
         ('T1083', 'T1133'): 20,
         ('T1027', 'T1133'): 28,
         ('T1071.001', 'T1133'): 22,
         ('T1078', 'T1133'): 30,
         ('T1043', 'T1133'): 14,
         ('T1133', 'T1547.001'): 16,
         ('T1105', 'T1133'): 24,
         ('T1059.003', 'T1133'): 24,
         ('T1053.002', 'T1133'): 4,
         ('T1070.004', 'T1133'): 28,
         ('T1082', 'T1133'): 20,
         ('T1071.004', 'T1133'): 10,
         ('T1027', 'T1083'): 58,
         ('T1071.001', 'T1083'): 42,
         ('T1078', 'T1083'): 24,
         ('T1043', 'T1083'): 14,
         ('T1083', 'T1547.001'): 48,
         ('T1083', 'T1105'): 52,
         ('T1059.003', 'T1083'): 54,
         ('T1053.002', 'T1083'): 4,
         ('T1070.004', 'T1083'): 44,
         ('T1082', 'T1083'): 50,
         ('T1071.004', 'T1083'): 12,
         ('T1027', 'T1071.001'): 64,
         ('T1027', 'T1078'): 42,
         ('T1027', 'T1043'): 26,
         ('T1027', 'T1547.001'): 72,
         ('T1027', 'T1059.003'): 76,
         ('T1027', 'T1053.002'): 4,
         ('T1027', 'T1070.004'): 58,
         ('T1027', 'T1082'): 60,
         ('T1027', 'T1071.004'): 16,
         ('T1071.001', 'T1078'): 28,
         ('T1043', 'T1071.001'): 20,
         ('T1071.001', 'T1547.001'): 54,
         ('T1071.001', 'T1105'): 62,
         ('T1059.003', 'T1071.001'): 54,
         ('T1053.002', 'T1071.001'): 6,
         ('T1070.004', 'T1071.001'): 42,
         ('T1071.001', 'T1082'): 48,
         ('T1071.001', 'T1071.004'): 16,
         ('T1043', 'T1078'): 18,
         ('T1078', 'T1547.001'): 26,
         ('T1078', 'T1105'): 38,
         ('T1059.003', 'T1078'): 40,
         ('T1053.002', 'T1078'): 4,
         ('T1070.004', 'T1078'): 40,
         ('T1078', 'T1082'): 16,
         ('T1071.004', 'T1078'): 10,
         ('T1043', 'T1547.001'): 22,
         ('T1043', 'T1105'): 24,
         ('T1043', 'T1059.003'): 24,
         ('T1043', 'T1053.002'): 4,
         ('T1043', 'T1070.004'): 22,
         ('T1043', 'T1082'): 16,
         ('T1043', 'T1071.004'): 6,
         ('T1105', 'T1547.001'): 66,
         ('T1059.003', 'T1547.001'): 64,
         ('T1053.002', 'T1547.001'): 6,
         ('T1070.004', 'T1547.001'): 48,
         ('T1082', 'T1547.001'): 50,
         ('T1071.004', 'T1547.001'): 14,
         ('T1059.003', 'T1105'): 78,
         ('T1053.002', 'T1105'): 6,
         ('T1070.004', 'T1105'): 58,
         ('T1082', 'T1105'): 50,
         ('T1071.004', 'T1105'): 16,
         ('T1053.002', 'T1059.003'): 6,
         ('T1059.003', 'T1070.004'): 56,
         ('T1059.003', 'T1082'): 54,
         ('T1059.003', 'T1071.004'): 16,
         ('T1053.002', 'T1070.004'): 6,
         ('T1053.002', 'T1082'): 2,
         ('T1053.002', 'T1071.004'): 2,
         ('T1070.004', 'T1082'): 38,
         ('T1070.004', 'T1071.004'): 14,
         ('T1071.004', 'T1082'): 10,
         ('T1016', 'T1204.002'): 34,
         ('T1016', 'T1071.001'): 36,
         ('T1016', 'T1043'): 14,
         ('T1016', 'T1132.001'): 10,
         ('T1016', 'T1218.010'): 4,
         ('T1016', 'T1059'): 12,
         ('T1016', 'T1082'): 44,
         ('T1016', 'T1218.011'): 12,
         ('T1016', 'T1547.001'): 36,
         ('T1016', 'T1033'): 38,
         ('T1016', 'T1574.002'): 26,
         ('T1016', 'T1112'): 18,
         ('T1016', 'T1059.001'): 42,
         ('T1016', 'T1189'): 14,
         ('T1016', 'T1543.003'): 18,
         ('T1016', 'T1140'): 24,
         ('T1016', 'T1027'): 44,
         ('T1016', 'T1564.003'): 10,
         ('T1071.001', 'T1204.002'): 52,
         ('T1043', 'T1204.002'): 18,
         ('T1132.001', 'T1204.002'): 18,
         ('T1204.002', 'T1218.010'): 12,
         ('T1059', 'T1204.002'): 16,
         ('T1082', 'T1204.002'): 42,
         ('T1204.002', 'T1218.011'): 18,
         ('T1204.002', 'T1547.001'): 66,
         ('T1033', 'T1204.002'): 32,
         ('T1204.002', 'T1574.002'): 22,
         ('T1112', 'T1204.002'): 22,
         ('T1059.001', 'T1204.002'): 64,
         ('T1189', 'T1204.002'): 30,
         ('T1204.002', 'T1543.003'): 18,
         ('T1140', 'T1204.002'): 34,
         ('T1204.002', 'T1564.003'): 12,
         ('T1071.001', 'T1132.001'): 18,
         ('T1071.001', 'T1218.010'): 12,
         ('T1059', 'T1071.001'): 12,
         ('T1071.001', 'T1218.011'): 24,
         ('T1033', 'T1071.001'): 34,
         ('T1071.001', 'T1574.002'): 20,
         ('T1071.001', 'T1112'): 18,
         ('T1059.001', 'T1071.001'): 52,
         ('T1071.001', 'T1189'): 20,
         ('T1071.001', 'T1566.001'): 52,
         ('T1071.001', 'T1543.003'): 18,
         ('T1071.001', 'T1140'): 32,
         ('T1071.001', 'T1564.003'): 10,
         ('T1043', 'T1132.001'): 4,
         ('T1043', 'T1218.010'): 2,
         ('T1043', 'T1059'): 8,
         ('T1043', 'T1218.011'): 8,
         ('T1033', 'T1043'): 14,
         ('T1043', 'T1574.002'): 6,
         ('T1043', 'T1112'): 10,
         ('T1043', 'T1059.001'): 24,
         ('T1043', 'T1189'): 10,
         ('T1043', 'T1566.001'): 18,
         ('T1043', 'T1543.003'): 10,
         ('T1043', 'T1140'): 10,
         ('T1043', 'T1564.003'): 8,
         ('T1132.001', 'T1218.010'): 4,
         ('T1059', 'T1132.001'): 2,
         ('T1082', 'T1132.001'): 12,
         ('T1132.001', 'T1218.011'): 10,
         ('T1132.001', 'T1547.001'): 14,
         ('T1033', 'T1132.001'): 12,
         ('T1132.001', 'T1574.002'): 8,
         ('T1112', 'T1132.001'): 6,
         ('T1059.001', 'T1132.001'): 16,
         ('T1132.001', 'T1189'): 8,
         ('T1132.001', 'T1566.001'): 18,
         ('T1132.001', 'T1543.003'): 6,
         ('T1132.001', 'T1140'): 10,
         ('T1027', 'T1132.001'): 16,
         ('T1132.001', 'T1564.003'): 2,
         ('T1059', 'T1218.010'): 4,
         ('T1082', 'T1218.010'): 8,
         ('T1218.010', 'T1218.011'): 8,
         ('T1218.010', 'T1547.001'): 10,
         ('T1033', 'T1218.010'): 4,
         ('T1218.010', 'T1574.002'): 4,
         ('T1112', 'T1218.010'): 6,
         ('T1059.001', 'T1218.010'): 16,
         ('T1189', 'T1218.010'): 4,
         ('T1218.010', 'T1566.001'): 12,
         ('T1218.010', 'T1543.003'): 8,
         ('T1140', 'T1218.010'): 6,
         ('T1027', 'T1218.010'): 14,
         ('T1218.010', 'T1564.003'): 6,
         ('T1059', 'T1082'): 12,
         ('T1059', 'T1218.011'): 4,
         ('T1059', 'T1547.001'): 14,
         ('T1033', 'T1059'): 12,
         ('T1059', 'T1574.002'): 4,
         ('T1059', 'T1112'): 6,
         ('T1059', 'T1059.001'): 18,
         ('T1059', 'T1189'): 8,
         ('T1059', 'T1566.001'): 14,
         ('T1059', 'T1543.003'): 8,
         ('T1059', 'T1140'): 6,
         ('T1027', 'T1059'): 16,
         ('T1059', 'T1564.003'): 4,
         ('T1082', 'T1218.011'): 18,
         ('T1033', 'T1082'): 40,
         ('T1082', 'T1574.002'): 18,
         ('T1082', 'T1112'): 22,
         ('T1059.001', 'T1082'): 44,
         ('T1082', 'T1189'): 18,
         ('T1082', 'T1566.001'): 42,
         ('T1082', 'T1543.003'): 20,
         ('T1082', 'T1140'): 30,
         ('T1082', 'T1564.003'): 10,
         ('T1218.011', 'T1547.001'): 16,
         ('T1033', 'T1218.011'): 14,
         ('T1218.011', 'T1574.002'): 8,
         ('T1112', 'T1218.011'): 10,
         ('T1059.001', 'T1218.011'): 26,
         ('T1189', 'T1218.011'): 4,
         ('T1218.011', 'T1566.001'): 20,
         ('T1218.011', 'T1543.003'): 12,
         ('T1140', 'T1218.011'): 14,
         ('T1027', 'T1218.011'): 26,
         ('T1218.011', 'T1564.003'): 10,
         ('T1033', 'T1547.001'): 36,
         ('T1547.001', 'T1574.002'): 22,
         ('T1112', 'T1547.001'): 28,
         ('T1059.001', 'T1547.001'): 58,
         ('T1189', 'T1547.001'): 28,
         ('T1547.001', 'T1566.001'): 64,
         ('T1543.003', 'T1547.001'): 28,
         ('T1140', 'T1547.001'): 36,
         ('T1547.001', 'T1564.003'): 14,
         ('T1033', 'T1574.002'): 18,
         ('T1033', 'T1112'): 18,
         ('T1033', 'T1059.001'): 40,
         ('T1033', 'T1189'): 14,
         ('T1033', 'T1566.001'): 34,
         ('T1033', 'T1543.003'): 14,
         ('T1033', 'T1140'): 18,
         ('T1027', 'T1033'): 42,
         ('T1033', 'T1564.003'): 8,
         ('T1112', 'T1574.002'): 10,
         ('T1059.001', 'T1574.002'): 24,
         ('T1189', 'T1574.002'): 10,
         ('T1566.001', 'T1574.002'): 24,
         ('T1543.003', 'T1574.002'): 12,
         ('T1140', 'T1574.002'): 12,
         ('T1027', 'T1574.002'): 26,
         ('T1564.003', 'T1574.002'): 8,
         ('T1059.001', 'T1112'): 30,
         ('T1112', 'T1189'): 16,
         ('T1112', 'T1566.001'): 24,
         ('T1112', 'T1543.003'): 18,
         ('T1112', 'T1140'): 12,
         ('T1027', 'T1112'): 30,
         ('T1112', 'T1564.003'): 6,
         ('T1059.001', 'T1189'): 16,
         ('T1059.001', 'T1566.001'): 66,
         ('T1059.001', 'T1543.003'): 24,
         ('T1059.001', 'T1140'): 34,
         ('T1027', 'T1059.001'): 78,
         ('T1059.001', 'T1564.003'): 18,
         ('T1189', 'T1566.001'): 26,
         ('T1189', 'T1543.003'): 10,
         ('T1140', 'T1189'): 10,
         ('T1027', 'T1189'): 24,
         ('T1189', 'T1564.003'): 4,
         ('T1543.003', 'T1566.001'): 18,
         ('T1140', 'T1566.001'): 34,
         ('T1564.003', 'T1566.001'): 12,
         ('T1140', 'T1543.003'): 8,
         ('T1027', 'T1543.003'): 26,
         ('T1543.003', 'T1564.003'): 6,
         ('T1027', 'T1140'): 40,
         ('T1140', 'T1564.003'): 8,
         ('T1027', 'T1564.003'): 12,
         ('T1001.001', 'T1091'): 2,
         ('T1001.001', 'T1114.002'): 2,
         ('T1001.001', 'T1105'): 2,
         ('T1001.001', 'T1559.002'): 2,
         ('T1001.001', 'T1564.001'): 2,
         ('T1001.001', 'T1070.006'): 2,
         ('T1001.001', 'T1566.002'): 2,
         ('T1001.001', 'T1120'): 2,
         ('T1001.001', 'T1113'): 2,
         ('T1001.001', 'T1083'): 2,

In [55]:
# Store each value in array list
sourcelist = []
targetlist = []
weightlist = []
for key, value in counter.items():
    sourcelist.append(key[0])
    targetlist.append(key[1])
    weightlist.append(value)
    
# check if the len are same value
print(len(sourcelist))
print(len(targetlist))
print(len(weightlist))
# standardising weights, high value = less likely pairs
weightlist = [1-i/max(weightlist) for i in weightlist]

# TODO: using total techniques

19201
19201
19201

In [56]:
# Store the nodes and weights in dataframe
pd.set_option('display.max_rows', 20)
edges = pd.DataFrame(
    {
        "source": sourcelist,#sourceId,
        "target": targetlist, #targetlist
        "weight": weightlist
    }
)
edges

          source     target    weight
0          T1027  T1566.001  0.309091
1      T1053.005  T1566.001  0.545455
2      T1204.002  T1566.001  0.000000
3      T1566.001      T1571  0.872727
4      T1036.004  T1566.001  0.836364
...          ...        ...       ...
19196  T1003.003  T1568.001  0.981818
19197      T1106  T1583.001  0.981818
19198      T1106  T1568.001  0.981818
19199      T1083  T1568.001  0.981818
19200  T1568.001  T1583.001  0.981818

[19201 rows x 3 columns]

In [57]:
# Create a graph using the dataframe
G = nx.from_pandas_edgelist(edges, edge_attr=True, create_using=nx.DiGraph())

In [33]:
tacticcolumns = {}
for tactic in attck.enterprise.tactics:
    templist = []
    for teachniques in tactic.techniques:
        templist.append(teachniques.id)
    tacticcolumns[tactic.id] = sorted(templist)

import collections
tacticcolumns = collections.OrderedDict(sorted(tacticcolumns.items()))
pd.set_option('display.max_rows', None)
df = pd.DataFrame.from_dict(tacticcolumns, orient='index')
df = df.fillna("-")
df = df.transpose()
df

,TA0001,TA0002,TA0003,TA0004,TA0005,TA0006,TA0007,TA0008,TA0009,TA0010,TA0011,TA0040,TA0042,TA0043
0,T1078,T1047,T1034,T1034,T1006,T1003,T1007,T1021,T1005,T1011,T1001,T1485,T1583,T1589
1,T1078.001,T1053,T1037,T1037,T1014,T1003.001,T1010,T1021.001,T1025,T1011.001,T1001.001,T1486,T1583.001,T1589.001
2,T1078.002,T1053.001,T1037.001,T1037.001,T1027,T1003.002,T1012,T1021.002,T1039,T1020,T1001.002,T1489,T1583.002,T1589.002
3,T1078.003,T1053.002,T1037.002,T1037.002,T1027.001,T1003.003,T1016,T1021.003,T1056,T1020.001,T1001.003,T1490,T1583.003,T1589.003
4,T1078.004,T1053.003,T1037.003,T1037.003,T1027.002,T1003.004,T1016.001,T1021.004,T1056.001,T1029,T1008,T1491,T1583.004,T1590
5,T1091,T1053.004,T1037.004,T1037.004,T1027.003,T1003.005,T1018,T1021.005,T1056.002,T1030,T1026,T1491.001,T1583.005,T1590.001
6,T1133,T1053.005,T1037.005,T1037.005,T1027.004,T1003.006,T1033,T1021.006,T1056.003,T1041,T1043,T1491.002,T1583.006,T1590.002
7,T1189,T1053.006,T1053,T1053,T1027.005,T1003.007,T1040,T1051,T1056.004,T1048,T1071,T1495,T1584,T1590.003
8,T1190,T1053.007,T1053.001,T1053.001,T1036,T1003.008,T1046,T1072,T1074,T1048.001,T1071.001,T1496,T1584.001,T1590.004
9,T1195,T1059,T1053.002,T1053.002,T1036.001,T1040,T1049,T1080,T1074.001,T1048.002,T1071.002,T1498,T1584.002,T1590.005
10,T1195.001,T1059.001,T1053.003,T1053.003,T1036.002,T1056,T1057,T1091,T1074.002,T1048.003,T1071.003,T1498.001,T1584.003,T1590.006
11,T1195.002,T1059.002,T1053.004,T1053.004,T1036.003,T1056.001,T1069,T1175,T1113,T1052,T1071.004,T1498.002,T1584.004,T1591
12,T1195.003,T1059.003,T1053.005,T1053.005,T1036.004,T1056.002,T1069.001,T1210,T1114,T1052.001,T1090,T1499,T1584.005,T1591.001
13,T1199,T1059.004,T1053.006,T1053.006,T1036.005,T1056.003,T1069.002,T1534,T1114.001,T1537,T1090.001,T1499.001,T1584.006,T1591.002
14,T1200,T1059.005,T1053.007,T1053.007,T1036.006,T1056.004,T1069.003,T1550,T1114.002,T1567,T1090.002,T1499.002,T1585,T1591.003
15,T1566,T1059.006,T1062,T1055,T1055,T1110,T1082,T1550.001,T1114.003,T1567.001,T1090.003,T1499.003,T1585.001,T1591.004
16,T1566.001,T1059.007,T1078,T1055.001,T1055.001,T1110.001,T1083,T1550.002,T1115,T1567.002,T1090.004,T1499.004,T1585.002,T1592
17,T1566.002,T1059.008,T1078.001,T1055.002,T1055.002,T1110.002,T1087,T1550.003,T1119,-,T1092,T1529,T1586,T1592.001
18,T1566.003,T1061,T1078.002,T1055.003,T1055.003,T1110.003,T1087.001,T1550.004,T1123,-,T1095,T1531,T1586.001,T1592.002
19,-,T1064,T1078.003,T1055.004,T1055.004,T1110.004,T1087.002,T1563,T1125,-,T1102,T1561,T1586.002,T1592.003
20,-,T1072,T1078.004,T1055.005,T1055.005,T1111,T1087.003,T1563.001,T1185,-,T1102.001,T1561.001,T1587,T1592.004
21,-,T1106,T1098,T1055.008,T1055.008,T1187,T1087.004,T1563.002,T1213,-,T1102.002,T1561.002,T1587.001,T1593
22,-,T1129,T1098.001,T1055.009,T1055.009,T1212,T1120,T1570,T1213.001,-,T1102.003,T1565,T1587.002,T1593.001
23,-,T1153,T1098.002,T1055.011,T1055.011,T1528,T1124,-,T1213.002,-,T1104,T1565.001,T1587.003,T1593.002
24,-,T1175,T1098.003,T1055.012,T1055.012,T1539,T1135,-,T1530,-,T1105,T1565.002,T1587.004,T1594
25,-,T1203,T1098.004,T1055.013,T1055.013,T1552,T1201,-,T1557,-,T1132,T1565.003,T1588,T1595
26,-,T1204,T1108,T1055.014,T1055.014,T1552.001,T1217,-,T1557.001,-,T1132.001,-,T1588.001,T1595.001
27,-,T1204.001,T1133,T1068,T1064,T1552.002,T1482,-,T1557.002,-,T1132.002,-,T1588.002,T1595.002
28,-,T1204.002,T1136,T1078,T1070,T1552.003,T1497,-,T1560,-,T1205,-,T1588.003,T1596
29,-,T1204.003,T1136.001,T1078.001,T1070.001,T1552.004,T1497.001,-,T1560.001,-,T1205.001,-,T1588.004,T1596.001
30,-,T1559,T1136.002,T1078.002,T1070.002,T1552.005,T1497.002,-,T1560.002,-,T1219,-,T1588.005,T1596.002
31,-,T1559.001,T1136.003,T1078.003,T1070.003,T1552.006,T1497.003,-,T1560.003,-,T1568,-,T1588.006,T1596.003
32,-,T1559.002,T1137,T1078.004,T1070.004,T1552.007,T1518,-,T1602,-,T1568.001,-,T1608,T1596.004
33,-,T1569,T1137.001,T1134,T1070.005,T1555,T1518.001,-,T1602.001,-,T1568.002,-,T1608.001,T1596.005
34,-,T1569.001,T1137.002,T1134.001,T1070.006,T1555.001,T1526,-,T1602.002,-,T1568.003,-,T1608.002,T1597
35,-,T1569.002,T1137.003,T1134.002,T1078,T1555.002,T1538,-,-,-,T1571,-,T1608.003,T1597.001
36,-,T1609,T1137.004,T1134.003,T1078.001,T1555.003,T1580,-,-,-,T1572,-,T1608.004,T1597.002
37,-,T1610,T1137.005,T1134.004,T1078.002,T1555.004,T1613,-,-,-,T1573,-,T1608.005,T1598
38,-,-,T1137.006,T1134.005,T1078.003,T1555.005,T1614,-,-,-,T1573.001,-,-,T1598.001
39,-,-,T1176,T1484,T1078.004,T1556,-,-,-,-,T1573.002,-,-,T1598.002
40,-,-,T1197,T1484.001,T1108,T1556.001,-,-,-,-,-,-,-,T1598.003
41,-,-,T1205,T1484.002,T1112,T1556.002,-,-,-,-,-,-,-,-
42,-,-,T1205.001,T1543,T1127,T1556.003,-,-,-,-,-,-,-,-
43,-,-,T1505,T1543.001,T1127.001,T1556.004,-,-,-,-,-,-,-,-
44,-,-,T1505.001,T1543.002,T1134,T1557,-,-,-,-,-,-,-,-
45,-,-,T1505.002,T1543.003,T1134.001,T1557.001,-,-,-,-,-,-,-,-
46,-,-,T1505.003,T1543.004,T1134.002,T1557.002,-,-,-,-,-,-,-,-
47,-,-,T1525,T1546,T1134.003,T1558,-,-,-,-,-,-,-,-
48,-,-,T1542,T1546.001,T1134.004,T1558.001,-,-,-,-,-,-,-,-
49,-,-,T1542.001,T1546.002,T1134.005,T1558.002,-,-,-,-,-,-,-,-
50,-,-,T1542.002,T1546.003,T1140,T1558.003,-,-,-,-,-,-,-,-
51,-,-,T1542.003,T1546.004,T1149,T1558.004,-,-,-,-,-,-,-,-
52,-,-,T1542.004,T1546.005,T1197,T1606,-,-,-,-,-,-,-,-
53,-,-,T1542.005,T1546.006,T1202,T1606.001,-,-,-,-,-,-,-,-
54,-,-,T1543,T1546.007,T1205,T1606.002,-,-,-,-,-,-,-,-
55,-,-,T1543.001,T1546.008,T1205.001,-,-,-,-,-,-,-,-,-
56,-,-,T1543.002,T1546.009,T1207,-,-,-,-,-,-,-,-,-
57,-,-,T1543.003,T1546.010,T1211,-,-,-,-,-,-,-,-,-
58,-,-,T1543.004,T1546.011,T1216,-,-,-,-,-,-,-,-,-
59,-,-,T1546,T1546.012,T1216.001,-,-,-,-,-,-,-,-,-
60,-,-,T1546.001,T1546.013,T1218,-,-,-,-,-,-,-,-,-
61,-,-,T1546.002,T1546.014,T1218.001,-,-,-,-,-,-,-,-,-
62,-,-,T1546.003,T1546.015,T1218.002,-,-,-,-,-,-,-,-,-
63,-,-,T1546.004,T1547,T1218.003,-,-,-,-,-,-,-,-,-
64,-,-,T1546.005,T1547.001,T1218.004,-,-,-,-,-,-,-,-,-
65,-,-,T1546.006,T1547.002,T1218.005,-,-,-,-,-,-,-,-,-
66,-,-,T1546.007,T1547.003,T1218.007,-,-,-,-,-,-,-,-,-
67,-,-,T1546.008,T1547.004,T1218.008,-,-,-,-,-,-,-,-,-
68,-,-,T1546.009,T1547.005,T1218.009,-,-,-,-,-,-,-,-,-
69,-,-,T1546.010,T1547.006,T1218.010,-,-,-,-,-,-,-,-,-
70,-,-,T1546.011,T1547.007,T1218.011,-,-,-,-,-,-,-,-,-
71,-,-,T1546.012,T1547.008,T1218.012,-,-,-,-,-,-,-,-,-
72,-,-,T1546.013,T1547.009,T1220,-,-,-,-,-,-,-,-,-
73,-,-,T1546.014,T1547.010,T1221,-,-,-,-,-,-,-,-,-
74,-,-,T1546.015,T1547.011,T1222,-,-,-,-,-,-,-,-,-
75,-,-,T1547,T1547.012,T1222.001,-,-,-,-,-,-,-,-,-
76,-,-,T1547.001,T1547.013,T1222.002,-,-,-,-,-,-,-,-,-
77,-,-,T1547.002,T1547.014,T1480,-,-,-,-,-,-,-,-,-
78,-,-,T1547.003,T1548,T1480.001,-,-,-,-,-,-,-,-,-
79,-,-,T1547.004,T1548.001,T1484,-,-,-,-,-,-,-,-,-
80,-,-,T1547.005,T1548.002,T1484.001,-,-,-,-,-,-,-,-,-
81,-,-,T1547.006,T1548.003,T1484.002,-,-,-,-,-,-,-,-,-
82,-,-,T1547.007,T1548.004,T1497,-,-,-,-,-,-,-,-,-
83,-,-,T1547.008,T1574,T1497.001,-,-,-,-,-,-,-,-,-
84,-,-,T1547.009,T1574.001,T1497.002,-,-,-,-,-,-,-,-,-
85,-,-,T1547.010,T1574.002,T1497.003,-,-,-,-,-,-,-,-,-
86,-,-,T1547.011,T1574.004,T1535,-,-,-,-,-,-,-,-,-
87,-,-,T1547.012,T1574.005,T1542,-,-,-,-,-,-,-,-,-
88,-,-,T1547.013,T1574.006,T1542.001,-,-,-,-,-,-,-,-,-
89,-,-,T1547.014,T1574.007,T1542.002,-,-,-,-,-,-,-,-,-
90,-,-,T1554,T1574.008,T1542.003,-,-,-,-,-,-,-,-,-
91,-,-,T1556,T1574.009,T1542.004,-,-,-,-,-,-,-,-,-
92,-,-,T1556.001,T1574.010,T1542.005,-,-,-,-,-,-,-,-,-
93,-,-,T1556.002,T1574.011,T1548,-,-,-,-,-,-,-,-,-
94,-,-,T1556.003,T1574.012,T1548.001,-,-,-,-,-,-,-,-,-
95,-,-,T1556.004,T1611,T1548.002,-,-,-,-,-,-,-,-,-
96,-,-,T1574,-,T1548.003,-,-,-,-,-,-,-,-,-
97,-,-,T1574.001,-,T1548.004,-,-,-,-,-,-,-,-,-
98,-,-,T1574.002,-,T1550,-,-,-,-,-,-,-,-,-
99,-,-,T1574.004,-,T1550.001,-,-,-,-,-,-,-,-,-
100,-,-,T1574.005,-,T1550.002,-,-,-,-,-,-,-,-,-
101,-,-,T1574.006,-,T1550.003,-,-,-,-,-,-,-,-,-
102,-,-,T1574.007,-,T1550.004,-,-,-,-,-,-,-,-,-
103,-,-,T1574.008,-,T1553,-,-,-,-,-,-,-,-,-
104,-,-,T1574.009,-,T1553.001,-,-,-,-,-,-,-,-,-
105,-,-,T1574.010,-,T1553.002,-,-,-,-,-,-,-,-,-
106,-,-,T1574.011,-,T1553.003,-,-,-,-,-,-,-,-,-
107,-,-,T1574.012,-,T1553.004,-,-,-,-,-,-,-,-,-
108,-,-,-,-,T1553.005,-,-,-,-,-,-,-,-,-
109,-,-,-,-,T1553.006,-,-,-,-,-,-,-,-,-
110,-,-,-,-,T1556,-,-,-,-,-,-,-,-,-
111,-,-,-,-,T1556.001,-,-,-,-,-,-,-,-,-
112,-,-,-,-,T1556.002,-,-,-,-,-,-,-,-,-
113,-,-,-,-,T1556.003,-,-,-,-,-,-,-,-,-
114,-,-,-,-,T1556.004,-,-,-,-,-,-,-,-,-
115,-,-,-,-,T1562,-,-,-,-,-,-,-,-,-
116,-,-,-,-,T1562.001,-,-,-,-,-,-,-,-,-
117,-,-,-,-,T1562.002,-,-,-,-,-,-,-,-,-
118,-,-,-,-,T1562.003,-,-,-,-,-,-,-,-,-
119,-,-,-,-,T1562.004,-,-,-,-,-,-,-,-,-
120,-,-,-,-,T1562.006,-,-,-,-,-,-,-,-,-
121,-,-,-,-,T1562.007,-,-,-,-,-,-,-,-,-
122,-,-,-,-,T1562.008,-,-,-,-,-,-,-,-,-
123,-,-,-,-,T1564,-,-,-,-,-,-,-,-,-
124,-,-,-,-,T1564.001,-,-,-,-,-,-,-,-,-
125,-,-,-,-,T1564.002,-,-,-,-,-,-,-,-,-
126,-,-,-,-,T1564.003,-,-,-,-,-,-,-,-,-
127,-,-,-,-,T1564.004,-,-,-,-,-,-,-,-,-
128,-,-,-,-,T1564.005,-,-,-,-,-,-,-,-,-
129,-,-,-,-,T1564.006,-,-,-,-,-,-,-,-,-
130,-,-,-,-,T1564.007,-,-,-,-,-,-,-,-,-
131,-,-,-,-,T1574,-,-,-,-,-,-,-,-,-
132,-,-,-,-,T1574.001,-,-,-,-,-,-,-,-,-
133,-,-,-,-,T1574.002,-,-,-,-,-,-,-,-,-
134,-,-,-,-,T1574.004,-,-,-,-,-,-,-,-,-
135,-,-,-,-,T1574.005,-,-,-,-,-,-,-,-,-
136,-,-,-,-,T1574.006,-,-,-,-,-,-,-,-,-
137,-,-,-,-,T1574.007,-,-,-,-,-,-,-,-,-
138,-,-,-,-,T1574.008,-,-,-,-,-,-,-,-,-
139,-,-,-,-,T1574.009,-,-,-,-,-,-,-,-,-
140,-,-,-,-,T1574.010,-,-,-,-,-,-,-,-,-
141,-,-,-,-,T1574.011,-,-,-,-,-,-,-,-,-
142,-,-,-,-,T1574.012,-,-,-,-,-,-,-,-,-
143,-,-,-,-,T1578,-,-,-,-,-,-,-,-,-
144,-,-,-,-,T1578.001,-,-,-,-,-,-,-,-,-
145,-,-,-,-,T1578.002,-,-,-,-,-,-,-,-,-
146,-,-,-,-,T1578.003,-,-,-,-,-,-,-,-,-
147,-,-,-,-,T1578.004,-,-,-,-,-,-,-,-,-
148,-,-,-,-,T1599,-,-,-,-,-,-,-,-,-
149,-,-,-,-,T1599.001,-,-,-,-,-,-,-,-,-
150,-,-,-,-,T1600,-,-,-,-,-,-,-,-,-
151,-,-,-,-,T1600.001,-,-,-,-,-,-,-,-,-
152,-,-,-,-,T1600.002,-,-,-,-,-,-,-,-,-
153,-,-,-,-,T1601,-,-,-,-,-,-,-,-,-
154,-,-,-,-,T1601.001,-,-,-,-,-,-,-,-,-
155,-,-,-,-,T1601.002,-,-,-,-,-,-,-,-,-
156,-,-,-,-,T1610,-,-,-,-,-,-,-,-,-
157,-,-,-,-,T1612,-,-,-,-,-,-,-,-,-

# Shortest path from inversed weighted graph

In [34]:
# get all shortest path from a node to unknown target
startnode = 'T1001'
path = nx.algorithms.shortest_path(G, startnode)
path

{'T1189': ['T1189'],
 'T1016': ['T1189', 'T1016'],
 'T1204.002': ['T1189', 'T1204.002'],
 'T1071.001': ['T1189', 'T1071.001'],
 'T1043': ['T1189', 'T1043'],
 'T1132.001': ['T1189', 'T1132.001'],
 'T1218.010': ['T1189', 'T1218.010'],
 'T1059': ['T1189', 'T1059'],
 'T1082': ['T1189', 'T1082'],
 'T1218.011': ['T1189', 'T1218.011'],
 'T1547.001': ['T1189', 'T1547.001'],
 'T1033': ['T1189', 'T1033'],
 'T1574.002': ['T1189', 'T1574.002'],
 'T1112': ['T1189', 'T1112'],
 'T1059.001': ['T1189', 'T1059.001'],
 'T1566.001': ['T1189', 'T1566.001'],
 'T1543.003': ['T1189', 'T1543.003'],
 'T1140': ['T1189', 'T1140'],
 'T1027': ['T1189', 'T1027'],
 'T1564.003': ['T1189', 'T1564.003'],
 'T1072': ['T1189', 'T1072'],
 'T1505.003': ['T1189', 'T1505.003'],
 'T1068': ['T1189', 'T1068'],
 'T1550.002': ['T1189', 'T1550.002'],
 'T1564.004': ['T1189', 'T1564.004'],
 'T1018': ['T1189', 'T1018'],
 'T1070.006': ['T1189', 'T1070.006'],
 'T1070.001': ['T1189', 'T1070.001'],
 'T1027.001': ['T1189', 'T1027.001'],
 'T1105': ['T1189', 'T1105'],
 'T1566.002': ['T1189', 'T1566.002'],
 'T1049': ['T1189', 'T1049'],
 'T1053.005': ['T1189', 'T1053.005'],
 'T1047': ['T1189', 'T1047'],
 'T1003.001': ['T1189', 'T1003.001'],
 'T1137': ['T1189', 'T1137'],
 'T1216.001': ['T1189', 'T1216.001'],
 'T1078.003': ['T1189', 'T1078.003'],
 'T1036.005': ['T1189', 'T1036.005'],
 'T1218.005': ['T1189', 'T1218.005'],
 'T1094': ['T1189', 'T1094'],
 'T1550.003': ['T1189', 'T1550.003'],
 'T1046': ['T1189', 'T1046'],
 'T1021.002': ['T1189', 'T1021.002'],
 'T1065': ['T1189', 'T1065'],
 'T1203': ['T1189', 'T1203'],
 'T1041': ['T1189', 'T1041'],
 'T1083': ['T1189', 'T1083'],
 'T1012': ['T1189', 'T1012'],
 'T1560': ['T1189', 'T1560'],
 'T1569.002': ['T1189', 'T1569.002'],
 'T1564.001': ['T1189', 'T1564.001'],
 'T1070.004': ['T1189', 'T1070.004'],
 'T1222.002': ['T1189', 'T1222.002'],
 'T1059.003': ['T1189', 'T1059.003'],
 'T1048.003': ['T1189', 'T1048.003'],
 'T1071.003': ['T1189', 'T1071.003'],
 'T1059.005': ['T1189', 'T1059.005'],
 'T1036.004': ['T1189', 'T1036.004'],
 'T1036.003': ['T1189', 'T1036.003'],
 'T1087.001': ['T1189', 'T1087.001'],
 'T1552.002': ['T1189', 'T1552.002'],
 'T1003': ['T1189', 'T1003'],
 'T1571': ['T1189', 'T1571'],
 'T1570': ['T1189', 'T1570'],
 'T1135': ['T1189', 'T1135'],
 'T1055': ['T1189', 'T1055'],
 'T1204.001': ['T1189', 'T1204.001'],
 'T1036': ['T1189', 'T1036'],
 'T1056.001': ['T1189', 'T1056.001'],
 'T1059.007': ['T1189', 'T1059.007'],
 'T1585.001': ['T1189', 'T1585.001'],
 'T1583.001': ['T1189', 'T1583.001'],
 'T1583.006': ['T1189', 'T1583.006'],
 'T1598.003': ['T1189', 'T1598.003'],
 'T1102': ['T1189', 'T1102'],
 'T1589.002': ['T1189', 'T1589.002'],
 'T1589': ['T1189', 'T1589'],
 'T1608.004': ['T1189', 'T1608.004'],
 'T1608.001': ['T1189', 'T1608.001'],
 'T1057': ['T1189', 'T1057'],
 'T1005': ['T1189', 'T1005'],
 'T1555.003': ['T1189', 'T1555.003'],
 'T1123': ['T1189', 'T1123'],
 'T1106': ['T1189', 'T1106'],
 'T1561.002': ['T1189', 'T1561.002'],
 'T1102.002': ['T1189', 'T1102.002'],
 'T1036.001': ['T1189', 'T1036.001'],
 'T1559.002': ['T1189', 'T1559.002'],
 'T1120': ['T1189', 'T1120'],
 'T1548.002': ['T1189', 'T1548.002'],
 'T1529': ['T1189', 'T1529'],
 'T1027.003': ['T1189', 'T1027.003'],
 'T1115': ['T1189', 'T1115'],
 'T1027.002': ['T1189', 'T1027.002'],
 'T1565.003': ['T1189', 'T1565.003'],
 'T1565.002': ['T1189', 'T1565.002'],
 'T1565.001': ['T1189', 'T1565.001'],
 'T1486': ['T1189', 'T1486'],
 'T1485': ['T1189', 'T1485'],
 'T1560.001': ['T1189', 'T1560.001'],
 'T1053.002': ['T1189', 'T1053.002'],
 'T1102.001': ['T1189', 'T1102.001'],
 'T1113': ['T1189', 'T1113'],
 'T1087.002': ['T1189', 'T1087.002'],
 'T1124': ['T1189', 'T1124'],
 'T1573.001': ['T1189', 'T1573.001'],
 'T1039': ['T1189', 'T1039'],
 'T1080': ['T1189', 'T1080'],
 'T1036.002': ['T1189', 'T1036.002'],
 'T1059.006': ['T1189', 'T1059.006'],
 'T1518': ['T1189', 'T1518'],
 'T1562.001': ['T1189', 'T1562.001'],
 'T1007': ['T1189', 'T1007'],
 'T1566.003': ['T1189', 'T1566.003'],
 'T1218.001': ['T1189', 'T1218.001'],
 'T1091': ['T1189', 'T1091'],
 'T1553.002': ['T1189', 'T1553.002'],
 'T1518.001': ['T1189', 'T1518.001'],
 'T1547.009': ['T1189', 'T1547.009'],
 'T1497.001': ['T1189', 'T1497.001'],
 'T1497': ['T1189', 'T1497'],
 'T1497.002': ['T1189', 'T1497.002'],
 'T1566': ['T1189', 'T1566'],
 'T1195.002': ['T1189', 'T1195.002'],
 'T1069.002': ['T1189', 'T1069.002'],
 'T1071': ['T1189', 'T1071'],
 'T1136.001': ['T1189', 'T1136.001'],
 'T1562.004': ['T1189', 'T1562.004'],
 'T1221': ['T1189', 'T1221'],
 'T1114.002': ['T1189', 'T1114.002'],
 'T1003.002': ['T1189', 'T1003.002'],
 'T1078': ['T1189', 'T1078'],
 'T1187': ['T1189', 'T1187'],
 'T1110.002': ['T1189', 'T1110.002'],
 'T1133': ['T1189', 'T1133'],
 'T1021.001': ['T1189', 'T1021.001'],
 'T1074.001': ['T1189', 'T1074.001'],
 'T1098': ['T1189', 'T1098'],
 'T1003.003': ['T1189', 'T1003.003'],
 'T1003.004': ['T1189', 'T1003.004'],
 'T1134.002': ['T1189', 'T1134.002'],
 'T1055.001': ['T1189', 'T1055.001'],
 'T1542.003': ['T1189', 'T1542.003'],
 'T1010': ['T1189', 'T1010'],
 'T1090.002': ['T1189', 'T1090.002'],
 'T1008': ['T1189', 'T1008'],
 'T1110.003': ['T1189', 'T1110.003'],
 'T1026': ['T1189', 'T1026'],
 'T1560.002': ['T1189', 'T1560.002'],
 'T1489': ['T1189', 'T1489'],
 'T1561.001': ['T1189', 'T1561.001'],
 'T1496': ['T1189', 'T1496'],
 'T1001.003': ['T1189', 'T1001.003'],
 'T1491.001': ['T1189', 'T1491.001'],
 'T1560.003': ['T1189', 'T1560.003'],
 'T1547.005': ['T1189', 'T1547.005'],
 'T1587.001': ['T1189', 'T1587.001'],
 'T1588.004': ['T1189', 'T1588.004'],
 'T1055.013': ['T1189', 'T1055.013'],
 'T1552.001': ['T1189', 'T1552.001'],
 'T1003.005': ['T1189', 'T1003.005'],
 'T1555': ['T1189', 'T1555'],
 'T1032': ['T1189', 'T1032'],
 'T1218.007': ['T1189', 'T1218.007'],
 'T1095': ['T1189', 'T1095'],
 'T1056.004': ['T1189', 'T1056.004'],
 'T1205.001': ['T1189', 'T1205.001'],
 'T1587.003': ['T1189', 'T1587.003'],
 'T1587.002': ['T1189', 'T1587.002'],
 'T1055.012': ['T1189', 'T1055.012'],
 'T1119': ['T1189', 'T1119'],
 'T1027.005': ['T1189', 'T1027.005'],
 'T1197': ['T1189', 'T1197'],
 'T1219': ['T1189', 'T1219'],
 'T1574.001': ['T1189', 'T1574.001'],
 'T1021.006': ['T1189', 'T1021.006'],
 'T1030': ['T1189', 'T1030'],
 'T1070.005': ['T1189', 'T1070.005'],
 'T1562.002': ['T1189', 'T1562.002'],
 'T1210': ['T1189', 'T1210'],
 'T1074.002': ['T1189', 'T1074.002'],
 'T1608.002': ['T1189', 'T1608.002'],
 'T1110': ['T1189', 'T1110'],
 'T1547.004': ['T1189', 'T1547.004'],
 'T1546.013': ['T1189', 'T1546.013'],
 'T1546.003': ['T1189', 'T1546.003'],
 'T1090': ['T1189', 'T1090'],
 'T1025': ['T1189', 'T1025'],
 'T1555.004': ['T1189', 'T1555.004'],
 'T1567.002': ['T1189', 'T1567.002'],
 'T1069.001': ['T1189', 'T1069.001'],
 'T1201': ['T1189', 'T1201'],
 'T1213': ['T1189', 'T1213'],
 'T1588.001': ['T1189', 'T1588.001'],
 'T1584.003': ['T1189', 'T1584.003'],
 'T1584.006': ['T1189', 'T1584.006'],
 'T1584.004': ['T1189', 'T1584.004'],
 'T1016.001': ['T1189', 'T1016.001'],
 'T1553.006': ['T1189', 'T1553.006'],
 'T1114.001': ['T1189', 'T1016', 'T1114.001'],
 'T1584.001': ['T1189', 'T1016', 'T1584.001'],
 'T1585.002': ['T1189', 'T1016', 'T1585.002'],
 'T1546.008': ['T1189', 'T1016', 'T1546.008'],
 'T1078.002': ['T1189', 'T1016', 'T1078.002'],
 'T1069': ['T1189', 'T1016', 'T1069'],
 'T1104': ['T1189', 'T1016', 'T1104'],
 'T1014': ['T1189', 'T1016', 'T1014'],
 'T1568.002': ['T1189', 'T1016', 'T1568.002'],
 'T1070.003': ['T1189', 'T1016', 'T1070.003'],
 'T1071.004': ['T1189', 'T1016', 'T1071.004'],
 'T1190': ['T1189', 'T1016', 'T1190'],
 'T1071.002': ['T1189', 'T1016', 'T1071.002'],
 'T1059.004': ['T1189', 'T1016', 'T1059.004'],
 'T1480.001': ['T1189', 'T1016', 'T1480.001'],
 'T1574.006': ['T1189', 'T1016', 'T1574.006'],
 'T1556.001': ['T1189', 'T1016', 'T1556.001'],
 'T1110.004': ['T1189', 'T1016', 'T1110.004'],
 'T1589.001': ['T1189', 'T1016', 'T1589.001'],
 'T1482': ['T1189', 'T1016', 'T1482'],
 'T1213.002': ['T1189', 'T1016', 'T1213.002'],
 'T1111': ['T1189', 'T1016', 'T1111'],
 'T1217': ['T1189', 'T1016', 'T1217'],
 'T1572': ['T1189', 'T1016', 'T1572'],
 'T1127.001': ['T1189', 'T1016', 'T1127.001'],
 'T1020': ['T1189', 'T1016', 'T1020'],
 'T1136.002': ['T1189', 'T1016', 'T1136.002'],
 'T1588.002': ['T1189', 'T1016', 'T1588.002'],
 'T1583.004': ['T1189', 'T1016', 'T1583.004'],
 'T1090.001': ['T1189', 'T1016', 'T1090.001'],
 'T1220': ['T1189', 'T1016', 'T1220'],
 'T1029': ['T1189', 'T1016', 'T1029'],
 'T1558.001': ['T1189', 'T1016', 'T1558.001'],
 'T1098.002': ['T1189', 'T1016', 'T1098.002'],
 'T1586.002': ['T1189', 'T1016', 'T1586.002'],
 'T1218.003': ['T1189', 'T1016', 'T1218.003'],
 'T1559.001': ['T1189', 'T1016', 'T1559.001'],
 'T1027.004': ['T1189', 'T1016', 'T1027.004'],
 'T1137.001': ['T1189', 'T1016', 'T1137.001'],
 'T1052.001': ['T1189', 'T1016', 'T1052.001'],
 'T1218.004': ['T1189', 'T1016', 'T1218.004'],
 'T1137.006': ['T1189', 'T1016', 'T1137.006'],
 'T1021.004': ['T1189', 'T1016', 'T1021.004'],
 'T1573.002': ['T1189', 'T1016', 'T1573.002'],
 'T1137.004': ['T1189', 'T1016', 'T1137.004'],
 'T1552.004': ['T1189', 'T1016', 'T1552.004'],
 'T1558.003': ['T1189', 'T1016', 'T1558.003'],
 'T1090.003': ['T1189', 'T1016', 'T1090.003'],
 'T1555.005': ['T1189', 'T1016', 'T1555.005'],
 'T1003.006': ['T1189', 'T1016', 'T1003.006'],
 'T1001': ['T1189', 'T1016', 'T1001'],
 'T1040': ['T1189', 'T1016', 'T1040'],
 'T1087.003': ['T1189', 'T1016', 'T1087.003'],
 'T1199': ['T1189', 'T1016', 'T1199'],
 'T1499': ['T1189', 'T1016', 'T1499'],
 'T1590.001': ['T1189', 'T1016', 'T1590.001'],
 'T1491.002': ['T1189', 'T1016', 'T1491.002'],
 'T1594': ['T1189', 'T1016', 'T1594'],
 'T1588.006': ['T1189', 'T1016', 'T1588.006'],
 'T1595.002': ['T1189', 'T1016', 'T1595.002'],
 'T1591.002': ['T1189', 'T1016', 'T1591.002'],
 'T1593': ['T1189', 'T1016', 'T1593'],
 'T1592.002': ['T1189', 'T1016', 'T1592.002'],
 'T1589.003': ['T1189', 'T1016', 'T1589.003'],
 'T1598.002': ['T1189', 'T1016', 'T1598.002'],
 'T1573': ['T1189', 'T1016', 'T1573'],
 'T1074': ['T1189', 'T1016', 'T1074'],
 'T1557.001': ['T1189', 'T1016', 'T1557.001'],
 'T1588.003': ['T1189', 'T1016', 'T1588.003'],
 'T1222.001': ['T1189', 'T1016', 'T1222.001'],
 'T1598': ['T1189', 'T1016', 'T1598'],
 'T1568.001': ['T1189', 'T1016', 'T1568.001'],
 'T1568.003': ['T1189', 'T1204.002', 'T1568.003'],
 'T1001.001': ['T1189', 'T1204.002', 'T1001.001'],
 'T1546.015': ['T1189', 'T1204.002', 'T1546.015'],
 'T1037.001': ['T1189', 'T1204.002', 'T1037.001'],
 'T1211': ['T1189', 'T1204.002', 'T1211'],
 'T1134.001': ['T1189', 'T1204.002', 'T1134.001'],
 'T1092': ['T1189', 'T1204.002', 'T1092'],
 'T1137.002': ['T1189', 'T1204.002', 'T1137.002'],
 'T1550.001': ['T1189', 'T1204.002', 'T1550.001'],
 'T1528': ['T1189', 'T1204.002', 'T1528'],
 'T1110.001': ['T1189', 'T1204.002', 'T1110.001'],
 'T1498': ['T1189', 'T1204.002', 'T1498'],
 'T1567': ['T1189', 'T1204.002', 'T1567'],
 'T1090.004': ['T1189', 'T1204.002', 'T1090.004'],
 'T1001.002': ['T1189', 'T1204.002', 'T1001.002'],
 'T1550.004': ['T1189', 'T1204.002', 'T1550.004'],
 'T1484.002': ['T1189', 'T1204.002', 'T1484.002'],
 'T1550': ['T1189', 'T1204.002', 'T1550'],
 'T1048.002': ['T1189', 'T1204.002', 'T1048.002'],
 'T1606.002': ['T1189', 'T1204.002', 'T1606.002'],
 'T1606.001': ['T1189', 'T1204.002', 'T1606.001'],
 'T1070': ['T1189', 'T1204.002', 'T1070'],
 'T1098.001': ['T1189', 'T1204.002', 'T1098.001'],
 'T1568': ['T1189', 'T1204.002', 'T1568'],
 'T1087': ['T1189', 'T1204.002', 'T1087'],
 'T1552.006': ['T1189', 'T1204.002', 'T1552.006'],
 'T1078.004': ['T1189', 'T1204.002', 'T1078.004'],
 'T1056': ['T1189', 'T1204.002', 'T1056'],
 'T1546.010': ['T1189', 'T1204.002', 'T1546.010'],
 'T1218.008': ['T1189', 'T1204.002', 'T1218.008'],
 'T1056.002': ['T1189', 'T1204.002', 'T1056.002'],
 'T1134': ['T1189', 'T1204.002', 'T1134'],
 'T1125': ['T1189', 'T1204.002', 'T1125'],
 'T1546.011': ['T1189', 'T1204.002', 'T1546.011'],
 'T1534': ['T1189', 'T1204.002', 'T1534'],
 'T1055.002': ['T1189', 'T1204.002', 'T1055.002'],
 'T1546.001': ['T1189', 'T1204.002', 'T1546.001'],
 'T1176': ['T1189', 'T1204.002', 'T1176'],
 'T1587': ['T1189', 'T1204.002', 'T1587'],
 'T1557': ['T1189', 'T1204.002', 'T1557'],
 'T1114.003': ['T1189', 'T1204.002', 'T1114.003'],
 'T1102.003': ['T1189', 'T1204.002', 'T1102.003'],
 'T1553.005': ['T1189', 'T1204.002', 'T1553.005'],
 'T1592.004': ['T1189', 'T1071.001', 'T1592.004'],
 'T1583.003': ['T1189', 'T1071.001', 'T1583.003'],
 'T1590': ['T1189', 'T1071.001', 'T1590'],
 'T1590.005': ['T1189', 'T1071.001', 'T1590.005'],
 'T1543.002': ['T1189', 'T1071.001', 'T1543.002'],
 'T1037': ['T1189', 'T1071.001', 'T1037'],
 'T1053.003': ['T1189', 'T1071.001', 'T1053.003'],
 'T1070.002': ['T1189', 'T1071.001', 'T1070.002'],
 'T1546.012': ['T1189', 'T1043', 'T1546.012'],
 'T1574.012': ['T1189', 'T1218.010', 'T1574.012'],
 'T1021.005': ['T1189', 'T1059', 'T1021.005'],
 'T1530': ['T1189', 'T1059', 'T1530'],
 'T1585': ['T1189', 'T1059', 'T1585'],
 'T1546.009': ['T1189', 'T1082', 'T1546.009'],
 'T1200': ['T1189', 'T1059.001', 'T1200'],
 'T1484.001': ['T1189', 'T1059.001', 'T1484.001'],
 'T1539': ['T1189', 'T1105', 'T1539'],
 'T1557.002': ['T1189', 'T1003.001', 'T1557.002'],
 'T1114': ['T1189', 'T1583.001', 'T1114'],
 'T1608.005': ['T1189', 'T1583.001', 'T1608.005'],
 'T1109': ['T1189', 'T1120', 'T1109'],
 'T1542.002': ['T1189', 'T1120', 'T1542.002'],
 'T1564.005': ['T1189', 'T1120', 'T1564.005'],
 'T1556.002': ['T1189', 'T1016', 'T1090.001', 'T1556.002']}

In [58]:
import itertools

startnode = 'T1003'
[list(cc) for cc in nx.strongly_connected_components(G)]

[['T1608.004'],
 ['T1608.001'],
 ['T1608.005'],
 ['T1598.003'],
 ['T1592.004'],
 ['T1590.005'],
 ['T1590'],
 ['T1598'],
 ['T1595.002'],
 ['T1594'],
 ['T1593'],
 ['T1592.002'],
 ['T1591.002'],
 ['T1590.001'],
 ['T1589.003'],
 ['T1589.002'],
 ['T1589'],
 ['T1606.002'],
 ['T1606.001'],
 ['T1587.003'],
 ['T1588.004'],
 ['T1588.006'],
 ['T1588.002'],
 ['T1588.001'],
 ['T1587.001'],
 ['T1589.001'],
 ['T1587'],
 ['T1586.002'],
 ['T1585.002'],
 ['T1585.001'],
 ['T1584.001'],
 ['T1585'],
 ['T1584.006'],
 ['T1584.004'],
 ['T1584.003'],
 ['T1583.006'],
 ['T1583.004'],
 ['T1583.001'],
 ['T1574.006'],
 ['T1587.002'],
 ['T1598.002'],
 ['T1608.002'],
 ['T1574.002'],
 ['T1573.001'],
 ['T1583.003'],
 ['T1571'],
 ['T1567'],
 ['T1568'],
 ['T1573.002'],
 ['T1572'],
 ['T1588.003'],
 ['T1570'],
 ['T1574.001'],
 ['T1574.012'],
 ['T1569.002'],
 ['T1567.002'],
 ['T1566.003'],
 ['T1568.001'],
 ['T1566.002'],
 ['T1568.003'],
 ['T1568.002'],
 ['T1573'],
 ['T1566.001'],
 ['T1564.004'],
 ['T1564.003'],
 ['T1564.001'],
 ['T1562.004'],
 ['T1562.002'],
 ['T1562.001'],
 ['T1565.003'],
 ['T1565.002'],
 ['T1565.001'],
 ['T1561.002'],
 ['T1561.001'],
 ['T1560.003'],
 ['T1560.001'],
 ['T1560.002'],
 ['T1560'],
 ['T1559.002'],
 ['T1558.003'],
 ['T1557'],
 ['T1559.001'],
 ['T1555.004'],
 ['T1555.003'],
 ['T1555'],
 ['T1553.005'],
 ['T1557.001'],
 ['T1553.002'],
 ['T1555.005'],
 ['T1552.004'],
 ['T1550.004'],
 ['T1552.002'],
 ['T1550.003'],
 ['T1556.001'],
 ['T1550.002'],
 ['T1550.001'],
 ['T1550'],
 ['T1552.006'],
 ['T1552.001'],
 ['T1548.002'],
 ['T1553.006'],
 ['T1547.009'],
 ['T1558.001'],
 ['T1547.005'],
 ['T1547.004'],
 ['T1547.001'],
 ['T1546.008'],
 ['T1546.013'],
 ['T1546.003'],
 ['T1546.011'],
 ['T1546.009'],
 ['T1546.001'],
 ['T1543.003'],
 ['T1546.015'],
 ['T1542.003'],
 ['T1528'],
 ['T1498'],
 ['T1546.010'],
 ['T1530'],
 ['T1543.002'],
 ['T1518.001'],
 ['T1518'],
 ['T1546.012'],
 ['T1505.003'],
 ['T1497.002'],
 ['T1539'],
 ['T1497.001'],
 ['T1534'],
 ['T1221'],
 ['T1484.002'],
 ['T1482'],
 ['T1529'],
 ['T1496'],
 ['T1222.002'],
 ['T1486'],
 ['T1564.005'],
 ['T1542.002'],
 ['T1480.001'],
 ['T1220'],
 ['T1566'],
 ['T1491.001'],
 ['T1489'],
 ['T1499'],
 ['T1491.002'],
 ['T1485'],
 ['T1219'],
 ['T1218.011'],
 ['T1218.010'],
 ['T1217'],
 ['T1213.002'],
 ['T1211'],
 ['T1213'],
 ['T1222.001'],
 ['T1218.005'],
 ['T1218.004'],
 ['T1210'],
 ['T1216.001'],
 ['T1218.008'],
 ['T1218.003'],
 ['T1218.001'],
 ['T1497'],
 ['T1218.007'],
 ['T1205.001'],
 ['T1204.002'],
 ['T1204.001'],
 ['T1203'],
 ['T1199'],
 ['T1197'],
 ['T1195.002'],
 ['T1190'],
 ['T1201'],
 ['T1189'],
 ['T1140'],
 ['T1187'],
 ['T1136.001'],
 ['T1137'],
 ['T1200'],
 ['T1135'],
 ['T1136.002'],
 ['T1176'],
 ['T1137.004'],
 ['T1133'],
 ['T1137.002'],
 ['T1134.001'],
 ['T1123'],
 ['T1134.002'],
 ['T1137.001'],
 ['T1132.001'],
 ['T1124'],
 ['T1120'],
 ['T1134'],
 ['T1127.001'],
 ['T1119'],
 ['T1114.002'],
 ['T1115'],
 ['T1125'],
 ['T1114.001'],
 ['T1113'],
 ['T1114.003'],
 ['T1112'],
 ['T1111'],
 ['T1110.004'],
 ['T1114'],
 ['T1110.003'],
 ['T1110.001'],
 ['T1110'],
 ['T1110.002'],
 ['T1106'],
 ['T1484.001'],
 ['T1105'],
 ['T1104'],
 ['T1102.002'],
 ['T1092'],
 ['T1091'],
 ['T1098.002'],
 ['T1098.001'],
 ['T1098'],
 ['T1102.001'],
 ['T1102'],
 ['T1095'],
 ['T1090.004'],
 ['T1090.003'],
 ['T1090.002'],
 ['T1556.002'],
 ['T1090.001'],
 ['T1087'],
 ['T1094'],
 ['T1090'],
 ['T1087.003'],
 ['T1087.002'],
 ['T1087.001'],
 ['T1083'],
 ['T1082'],
 ['T1078.003'],
 ['T1078.002'],
 ['T1078.004'],
 ['T1102.003'],
 ['T1078'],
 ['T1072'],
 ['T1074.002'],
 ['T1074.001'],
 ['T1071.003'],
 ['T1071.004'],
 ['T1071.002'],
 ['T1080'],
 ['T1074'],
 ['T1071.001'],
 ['T1071'],
 ['T1070.006'],
 ['T1070.005'],
 ['T1070.004'],
 ['T1070.003'],
 ['T1070.001'],
 ['T1069.002'],
 ['T1069.001'],
 ['T1068'],
 ['T1070'],
 ['T1069'],
 ['T1065'],
 ['T1059.007'],
 ['T1070.002'],
 ['T1059.006'],
 ['T1059.005'],
 ['T1059.004'],
 ['T1059.003'],
 ['T1059.001'],
 ['T1059'],
 ['T1057'],
 ['T1056.002'],
 ['T1056.004'],
 ['T1056.001'],
 ['T1055.001'],
 ['T1055'],
 ['T1056'],
 ['T1055.012'],
 ['T1053.005'],
 ['T1048.002'],
 ['T1052.001'],
 ['T1053.002'],
 ['T1049'],
 ['T1048.003'],
 ['T1047'],
 ['T1055.013'],
 ['T1055.002'],
 ['T1053.003'],
 ['T1046'],
 ['T1043'],
 ['T1041'],
 ['T1039'],
 ['T1037'],
 ['T1040'],
 ['T1036.005'],
 ['T1036.004'],
 ['T1036.003'],
 ['T1036.002'],
 ['T1036.001'],
 ['T1036'],
 ['T1033'],
 ['T1037.001'],
 ['T1027.005'],
 ['T1027.004'],
 ['T1027.002'],
 ['T1027.003'],
 ['T1029'],
 ['T1027.001'],
 ['T1030'],
 ['T1027'],
 ['T1021.005'],
 ['T1021.004'],
 ['T1021.006'],
 ['T1026'],
 ['T1025'],
 ['T1021.002'],
 ['T1021.001'],
 ['T1018'],
 ['T1020'],
 ['T1137.006'],
 ['T1016.001'],
 ['T1016'],
 ['T1012'],
 ['T1014'],
 ['T1010'],
 ['T1008'],
 ['T1007'],
 ['T1005'],
 ['T1003.005'],
 ['T1003.004'],
 ['T1557.002'],
 ['T1003.003'],
 ['T1003.002'],
 ['T1003.006'],
 ['T1003.001'],
 ['T1003'],
 ['T1001.001'],
 ['T1001.002'],
 ['T1001'],
 ['T1109'],
 ['T1001.003'],
 ['T1032']]

In [10]:
print("total combinations: ",len(path)-1)
print("smallest paths: ", min([len(x) for x in list(path.values())[1:]]))
print("Largest no of path found: ", max([len(x) for x in path.values()]))
print("Largest path samples: ", list(path.values())[-2:])

total combinations:  338
smallest paths:  2
Largest no of path found:  4
Largest path samples:  [['T1189', 'T1120', 'T1564.005'], ['T1189', 'T1016', 'T1090.001', 'T1556.002']]

In [28]:
selectedpath = 'T1556.002'
def create_colors(x):
    #copy df to new - original data are not changed
    df1 = x.copy()
    #select all values to default value - no color
    df1.loc[:,:] = 'background-color: '
    #overwrite values with green and red color
    for i in path[selectedpath]:
        valuehighlight = i
        getcell = [(df[col][df[col].eq(valuehighlight)].index[i], col) for col in df.columns for i in range(len(df[col][df[col].eq(valuehighlight)].index))]
        getcell = getcell[0]
        df1.loc[getcell[0], getcell[1]] = 'background-color: green'
    
    return df1      

df.style.apply(create_colors, axis=None)

In [27]:
found = ['t1075', 't1550.002', 't1078', 't1190', 't1133', 't1099', 't1070.006', 't1200', 't1136', 't1136.001', 't1003.002', 't1006', 't1084', 't1546.003']

found = [x.replace('t','T') for x in found]
found

['T1075',
 'T1550.002',
 'T1078',
 'T1190',
 'T1133',
 'T1099',
 'T1070.006',
 'T1200',
 'T1136',
 'T1136.001',
 'T1003.002',
 'T1006',
 'T1084',
 'T1546.003']